################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.suo
*.user

[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.dll
*.pdb
/Test/TreeApp/obj/Debug/net8.0/TreeApp.dll
/Test/TreeApp/obj/Debug/net8.0/TreeApp.pdb
/Test/TreeApp/obj/Debug/net8.0/ref/TreeApp.dll
/Test/TreeApp/obj/Debug/net8.0/refint/TreeApp.dll
/Src/Mtc.Host.Service/obj/Debug/net8.0/Mtc.Host.Service.dll
/Src/Mtc.Host.Service/obj/Debug/net8.0/Mtc.Host.Service.pdb
/Src/Mtc.Host.Service/obj/Debug/net8.0/ref/Mtc.Host.Service.dll
/Src/Mtc.Host.Service/obj/Debug/net8.0/refint/Mtc.Host.Service.dll
/Hosting/Mtc.Host.WebApi/obj/Debug/net8.0/EndpointInfo/Mtc.Host.WebApi.json
/Hosting/Mtc.Host.WebApi/obj/Debug/net8.0/ref/Mtc.Host.WebApi.dll
/Hosting/Mtc.Host.WebApi/obj/Debug/net8.0/refint/Mtc.Host.WebApi.dll
/Test/TreeApp/obj/project.assets.json
/Test/TreeApp/obj/project.nuget.cache
/Test/TreeApp/obj/TreeApp.csproj.nuget.dgspec.json
/Framwork/Mtc.Framwork.AppCore/obj/Mtc.Framwork.AppCore.csproj.nuget.dgspec.json
/Framwork/Mtc.Framwork.AppCore/obj/project.assets.json
/Framwork/Mtc.Framwork.AppCore/obj/project.nuget.cache
/Framwork/Mtc.Framwork.FramworkBase/obj/Mtc.Framwork.FramworkBase.csproj.nuget.dgspec.json
/Framwork/Mtc.Framwork.FramworkBase/obj/project.assets.json
/Framwork/Mtc.Framwork.FramworkBase/obj/project.nuget.cache
/Hosting/Mtc.Host.WebApi/obj/Mtc.Host.WebApi.csproj.nuget.dgspec.json
/Hosting/Mtc.Host.WebApi/obj/project.assets.json
/Hosting/Mtc.Host.WebApi/obj/project.nuget.cache
/Src/Mtc.Host.IService/obj/Mtc.Host.IService.csproj.nuget.dgspec.json
/Src/Mtc.Host.IService/obj/project.assets.json
/Src/Mtc.Host.IService/obj/project.nuget.cache
/Src/Mtc.Host.Repository/obj/Mtc.Host.Repository.csproj.nuget.dgspec.json
/Src/Mtc.Host.Repository/obj/project.assets.json
/Src/Mtc.Host.Repository/obj/project.nuget.cache
/Src/Mtc.Host.Service/obj/Mtc.Host.Service.csproj.nuget.dgspec.json
/Src/Mtc.Host.Service/obj/project.assets.json
/Src/Mtc.Host.Service/obj/project.nuget.cache
