################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.suo
*.user

[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.dll
*.pdb
/Test/TreeApp/obj/Debug/net8.0/TreeApp.dll
/Test/TreeApp/obj/Debug/net8.0/TreeApp.pdb
/Test/TreeApp/obj/Debug/net8.0/ref/TreeApp.dll
/Test/TreeApp/obj/Debug/net8.0/refint/TreeApp.dll
/Src/Mtc.Host.Service/obj/Debug/net8.0/Mtc.Host.Service.dll
/Src/Mtc.Host.Service/obj/Debug/net8.0/Mtc.Host.Service.pdb
/Src/Mtc.Host.Service/obj/Debug/net8.0/ref/Mtc.Host.Service.dll
/Src/Mtc.Host.Service/obj/Debug/net8.0/refint/Mtc.Host.Service.dll
